@{
    Layout = "_Layout";
}
<h2 class="text-center">General information about the person and the website coming soon</h2>
<a asp-action="ContentMethod">Page Addition 1</a><br />
<a asp-action="DateMethod">Page Addition 2</a><br />
<a asp-action="StringMethod">Page Addition 3</a><br />