@{
    Layout = "_Layout";
}
<h2 class="text-center">General information about the person and the website coming soon</h2>
<!-- Lab 6
    <a asp-action="ContentMethod">Page Addition 1</a><br />
<a asp-action="NotFoundMethod">Page Addition 2</a><br />
<a asp-action="UnauthMethod">Page Addition 3</a><br />-->
