@model IEnumerable<SkeletonSite.Models.Link>
@{
    Layout = "_TableLayout";
}
<body>
    @foreach (SkeletonSite.Models.Link l in Model)
    {
        <tr>
            <td>
                URL: <a href="@l.Url">@(ViewBag.Info = l.Url)</a>
            </td>
        </tr>
    }
</body>
