@model IEnumerable<SkeletonSite.Models.BookDetails>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <title>Sources page</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a asp-action="Index">Home</a></li>
                <li><a asp-action="History">History</a></li>
                <li><a asp-action="Stories">Stories</a></li>
                <li class="active"><a asp-action="Sources">Sources</a></li>
                <li><a asp-action="Books">Books</a></li>
                <li><a asp-action="Links">Links</a></li>
            </ul>
        </div>
    </nav>
    <h2 class="text-center">Where to find out about the person, more information soon</h2>
</body>
</html>