@model SkeletonSite.Models.Story
@{
    Layout = "_Layout";
}
<h2 class="text-center">This is where you can input stories of your choosing</h2>
<div class="panel panel-success">
    <div class="panel-heading text-left"><h4>Enter your stories below</h4></div>
    <div class="panel-body">
        <form class="p-4" asp-controller="HomeController" asp-action="StoryPost" asp-antiforgery="true" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Title">Title:</label>
                <input class="form-control" asp-for="Title" />
            </div>
            <div class="form-group">
                <label asp-for="Text">Text:</label>
                <input class="form-control" asp-for="Text" />
            </div>
            <div class="text-md-left">
                <button class="btn btn-primary" type="submit">Submit Story</button>
            </div>
        </form>
    </div>
    <div class="text-center">
        If you want to see others stories, click <a class="nav-link"  asp-action="StoryBoard">here</a>
        to go to that page.
    </div>
</div>